graft docs
graft src
graft tests

include .bumpversion.cfg

include README.rst
include CHANGELOG.rst
include NOTICE
include container-inspector.ABOUT

include tox.ini .travis.yml appveyor.yml

global-exclude *.py[co] __pycache__ *.so *.pyd
