attrs==21.2.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
commoncode==30.0.0
cryptography==35.0.0
dockerfile-parse==1.2.0
extractcode==30.0.0
extractcode-7z==16.5.210531
extractcode-libarchive==3.5.1.210531
idna==3.3
importlib-metadata==4.8.1
intbitset==2.4.1
patch==1.16
pdfminer.six==20201018
pip==21.2.4
pluggy==1.0.0
plugincode==21.1.21
pycparser==2.20
PyYAML==6.0
requests==2.26.0
saneyaml==0.5.2
setuptools==58.1.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.2.1
text-unidecode==1.3
typecode==21.6.1
typecode-libmagic==5.39.210531
typing==3.6.6
typing-extensions==3.10.0.2
urllib3==1.26.7
wheel==0.37.0
zipp==3.6.0
